FPDB_Username=root
FPDB_Password=root
FPDB_Host=localhost
FPDB_Port=3306
FPDB_Name=alterra

FPAPP_PORT=8000

JWT_SECRET=xxxxxxx
JWT_SECRET_ADMIN=xxxxxxx

CLOUDINARY_CLOUD_NAME=<CLOUD NAME>
CLOUDINARY_API_KEY=<API KEY>
CLOUDINARY_API_SECRET=<API SECRET>
CLOUDINARY_UPLOAD_FOLDER=cloud-folder